.article-item {
  &__block {
    padding-top: 200px;
    padding-bottom: 100px;
    @media (max-width: 1024px) {
      padding-top: 150px;
      padding-bottom: 50px;
    }
  }
  &__content {
    background-color: rgba($black, 0.9);
    padding: 90px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
      padding: 60px 40px;
    }
    @media (max-width: 768px) {
      padding: 40px 25px;
    }
    @media (max-width: 576px) {
      padding: 20px 15px;
    }
  }
  &__text {
    white-space: break-spaces;
    text-indent: 30px;
  }
  &__title {
    margin-bottom: 40px;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
    @media (max-width: 576px) {
      margin-bottom: 20px;
    }
  }
  &__image {
    margin-left: 15px;
    margin-bottom: 15px;
    float: right;
    transition: all .8s ease-in-out;
    transition-delay: .2s;
    max-width: 60%;
    min-width: 46%;
    max-height: 70vh;
    width: auto;
    height: auto;
    @media (max-width: 577px) {
      float: unset;
      margin: 0;
      margin-bottom: 15px;
      width: 100%;
      max-width: unset;
    }
  }
}
