.dropdown {
  position: relative;
  width: 100%;
  border: 2px solid #fff;
  border-radius: 8px;
  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: #fff;
    font-size: 18px;
    pointer-events: none;
  }
  &.error {
    background-color: rgba($error, 0.2);
    border-color: $error;
  }
  &.disabled {
    pointer-events: none;
    border-color: #999;
    span {
      color: #999;
    }
  }
  &__top {
    font-size: 18px;
    line-height: 24px;
    height: 100%;
    cursor: pointer;
    min-height: 54px;
    padding: 15px 20px;
    padding-right: 50px;
    color: #fff;
    letter-spacing: 1px;
    &::before {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      background-image: url('../../assets/triangle.svg');
      width: 17px;
      height: 12px;
      background-repeat: no-repeat;
      background-size: 17px 12px;
      transform: translateY(-50%);
      transition: all .2s ease-in-out;
    }
  }
  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: top;
    transition: all .2s ease-in-out;
    transform: scaleY(0);
    z-index: 10;
    width: 100%;
    outline: 2px solid #666;
    border-radius: 0 0 8px 8px;
    overflow-x: hidden;
    font-size: 18px;
    max-height: 200px;
    overflow-y: auto;
    @include scrollBar(10px);
  }
  &__item {
    padding: 15px 20px;
    cursor: pointer;
    background-color: rgba(#000, 0.9);
    transition: all .3s ease-in-out;
    color: #fff;
    &:not(:last-child) {
      border-bottom: 1px solid #999;
    }
    &:hover {
      padding-left: 25px;
      background-color: #793a3a;
    }
  }
  &__active {
    &::before {
      transform: translateY(-50%) rotate(180deg);
    }
    & + .dropdown__list {
      transform: scaleY(1);
    }
  }
}
