.news {
  background: url('/images/hero4.webp') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#000, 0.5);
  }
  .container {
    position: relative;
    z-index: 2;
  }
  &__content {
    margin: 0 100px 50px !important;
    @media (max-width: 1280px) {
      margin: 0 65px 50px !important;
    }
    @media (max-width: 1024px) {
      margin: 0 0 20px !important;
    }
  }
  &__btn {
    display: block;
    width: fit-content;
    margin-left: auto;
  }
  &__navBtns {
    @media (max-width: 1024px) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
  }
  &__navBtn {
    @media (max-width: 1024px) {
      position: initial;
      transform: none;
      &:active {
        transform: scale(0.95);
      }
      &:last-child {
        transform: rotate(180deg);
        &:active {
          transform: scale(0.95) rotate(180deg);
        }
      }
    }
  }
}
