.schedule {
  margin-bottom: 40px;
  @media (max-width: 576px) {
    display: none;
  }
  &__content {
    background-color: rgba(#000, 0.3);
    display: grid;
    grid-template-columns: 120px repeat(3, 1fr);
    grid-template-rows: minmax(80px, 1fr);
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media (max-width: 768px) {
      grid-template-columns: 76px repeat(3, 1fr);
      grid-template-rows: minmax(65px, 1fr);
    }
  }
  &__cell {
    padding: 5px;
    outline: 2px solid #fff;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    @media (max-width: 900px) {
      font-size: 18px;
      line-height: 24px;
    }
    @media (max-width: 768px) {
      outline-width: 1px;
      padding: 1px;
    }
    @media (max-width: 576px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__head {
    background-color: #481313;
    font-size: 20px;
    line-height: 24px;
    &:first-child {
      grid-column-start: 2;
    }
  }
  &__time {
    grid-column-start: 1;
  }
  &__training {
    align-items: unset;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
    @media (max-width: 1280px) {
      font-size: 15px;
      line-height: 18px;
    }
    @media (max-width: 900px) {
      font-size: 14px;
      line-height: 16px;
    }
    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__trainingBlock {
    color: #fff;
    height: 70px;
    text-align: center;
    padding: 10px 40px;
    margin: 5px;
    outline: 1px solid #fff;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: $btn-primary;
    }
    @media (max-width: 1280px) {
      padding: 8px 20px;
    }
    @media (max-width: 900px) {
      padding: 8px 10px;
    }
    @media (max-width: 768px) {
      height: unset;
      min-height: 50px;
    }
  }
  &__mobile {
    display: none;
    @media (max-width: 576px) {
      display: block;
    }
  }
  &__mobileHeader {
    padding: 15px;
    letter-spacing: 1px;
  }
  &__item {
    display: grid;
    grid-template-columns: 18% 1fr;
  }
  &__block {
    margin-bottom: 20px;
  }
}
