.blog {
  padding-bottom: 0;
  padding-top: 150px;
  @media (max-width: 768px) {
    padding-top: 110px;
  }
  &__content {
    margin: 0 50px;
    border-radius: 40px 40px 0 0;
    padding: 90px 50px;
    background-color: rgba(#110D0D, 0.6);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @media (max-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 20px;
    }
    @media (max-width: 1024px) {
      padding: 50px 25px;
      margin: 0;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      padding: 50px;
    }
    @media (max-width: 576px) {
      padding: 30px 20px;
    }
  }
  &__skelet {
    color: #fff;
    animation: skeleton-loading 1s linear infinite alternate;
    position: relative;
    height: 450px;
    @media (max-width: 640px) {
      height: 360px;
    }
  }
  &__skeletBottom {
    background-color: rgba(#111, 0.6);
    height: 25%;
    position: absolute;
    transition: all .3s ease-in-out;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__textSkelet {
    height: 20px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    width: 100%;
    background-color: rgba(#ddd, 0.4);
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: rgba(#ddd, 0.3);
  }
  100% {
    background-color: rgba(#ddd, 0.5);
  }
}

