@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 900;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
}
