@font-face {
  font-family: 'TenorSans';
  src: url('/TenorSans.woff') format('woff');
  font-weight: 400;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@mixin scrollBar($width) {
  &::-webkit-scrollbar {
    width: $width;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $primary;
    &:hover {
      background: #7d4747;
    }
  }
}

body {
  margin: 0;
  min-width: 320px;
  font-weight: 400;
  font-family: 'TenorSans', sans-serif;
  overflow-x: hidden;
  background-color: $dark;
  color: $light;
  @include scrollBar(14px);
}
.site-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
img {
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5,p {
  margin: 0;
}
input {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
  @media (max-width:768px) {
    padding: 0 15px;
  }
}
.swiper {
  height: 100%;
}
.preloader {
  position: fixed;
  background-color: $black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: all 1.8s ease-in-out;
  svg {
    fill: transparent;
    transition: fill 1s ease-in-out, opacity .4s ease-in-out;
  }
  &.hide {
    opacity: 0;
    pointer-events: none;
    svg {
      opacity: 0;
    }
  }
}
.path_line {
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: line;
}

@keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}
