.group-item {
  background-color: rgba(#000, 0.7);
  min-width: calc((100%  - 20px) / 3);
  flex-grow: 1;
  position: relative;
  max-width: 600px;
  @media (max-width: 640px) {
    width: 100%;
    transition: all .3s ease-in-out;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__descr {
    padding: 30px;
    padding-top: 8px;
    border-top: 2px solid #fff;
    @media (max-width: 1024px) {
      padding: 20px;
      padding-top: 5px;
    }
  }
  &__top {
    padding: 25px 10px;
    @media (max-width: 1024px) {
      padding: 20px 10px;
    }
    @media (max-width: 640px) {
      transition: all .3s ease-in-out;
      background-color: #713535;
    }
  }
  &__field {
    display: flex;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    padding-top: 25px;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 8px;
      @media (max-width: 1024px) {
        margin-bottom: 5px;
      }
    }
  }
  &__text {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    @media (max-width: 1024px) {
      font-size: 18px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 360px) {
      font-size: 14px;
    }
  }
  &__link {
    position: relative;
    transition: all .3s ease-in-out;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 1px;
      transition: all .3s ease-in-out;
      background-color: white;
    }
    &:hover {
      color: #A44848;
      &::after {
        background-color: #A44848;
      }
    }
  }
  &__smallText {
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 10px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  &__title {
    text-align: center;
    font-size: 22px;
    @media (max-width: 1024px) {
      font-size: 20px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
