@import './fonts';
@import './settings';
@import './buttons';
@import './text';
@import './sections';
@import './background';

@import './pages';
@import './components';

.discipline-info {
  padding-top: 50px;
  .title {
    font-size: 24px;
    line-height: 32px;
  }
  .text:not(:last-child) {
    margin-bottom: 20px;
  }
  .text.right.anim-0 {
    transform: translateX(100px);
  }
}
.opacity-0 {
  opacity: 0;
}
.opacity-1 {
  opacity: 1;
}
.anim-0 {
  transform: translateX(-100px);
}
.anim-1 {
  transform: translateX(0);
}
[class*="ground-pane"] {
  filter: grayscale(0.4);
}

