.hero {
  height: 100vh;
  position: relative;
  box-shadow: 0 4px 6px 5px rgba(#000, 0.5);
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#000, 0.5);
  }
  @media (max-width: 768px) {
    box-shadow: none;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  @media (max-width: 768px) {
    justify-content: flex-end;
    padding-bottom: 15vh;
  }
}
.title {
  font-weight: 700;
  font-size: 118px;
  line-height: 177px;
  letter-spacing: 2px;
  color: #D8D8D8;
  text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.51);
  text-transform: uppercase;
  @media (max-width: 1280px) {
    font-size: 84px;
    line-height: 120px;
  }
  @media (max-width: 1280px) {
    font-size: 84px;
    line-height: 120px;
  }
  @media (max-width: 900px) {
    font-size: 64px;
    line-height: 82px;
  }
  @media (max-width: 768px) {
    font-size: 42px;
    line-height: 56px;
  }
  @media (max-width: 460px) {
    font-size: 37px;
  }
  @media (max-width: 400px) {
    font-size: 28px;
  }
}
.swiper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  @media (max-width: 768px) {
    height: 65vh;
  }
}
.descr {
  font-size: 65px;
  line-height: 98px;
  letter-spacing: 2px;
  color: #fbfbfb;
  @media (max-width: 1280px) {
    font-size: 46px;
    line-height: 64px;
  }
  @media (max-width: 1280px) {
    font-size: 46px;
    line-height: 64px;
  }
  @media (max-width: 900px) {
    font-size: 36px;
    line-height: 48px;
  }
  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 32px;
  }
  @media (max-width: 400px) {
    font-size: 18px;
    line-height: 26px;
  }
}
.about {
  width: 100%;
  height: 100vh;
  position: relative;
  box-shadow: 0 4px 6px 5px rgba(#000, 0.5);
  @media (max-width: 768px) {
    height: 65vh;
  }
}

