.input {
  padding: 15px 20px;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  font-family: inherit;
  letter-spacing: 1px;
  outline: none;
  transition: all .3s ease-in-out;
  &::placeholder {
    color: #f4f4f4;
  }
  &:focus {
    border-color: rgb(255, 212, 119);
    background-color: rgba(#fff, 0.2);
  }
}
.error {
  background-color: rgba(#ff7171, 0.2);
  border-color: #ff7171;
}
