.content {
  margin: 0 100px;
  margin-bottom: 50px;
  @media (max-width: 1280px) {
    margin: 0 65px;
    margin-bottom: 50px;
  }
  @media (max-width: 1024px) {
    margin: 0;
    margin-bottom: 20px;
  }
}
.btn {
  display: block;
  width: fit-content;
  margin-left: auto;
}
.navBtns {
  @media (max-width: 1024px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
.navBtn {
  @media (max-width: 1024px) {
    position: initial;
    transform: none;
    &:active {
      transform: scale(0.95);
    }
    &:last-child {
      transform: rotate(180deg);
      &:active {
        transform: scale(0.95) rotate(180deg);
      }
    }
  }
}
